<div class="container">
  <div class="row">
  <app-cockpit (serverCreated)="onServerCreated($event)" (bluePrintCreated)="onBluePrintCreated($event)"></app-cockpit>

  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onFirstChange()">Change First Element</button>
    <app-server-element *ngFor="let serverElement of serverElements" [serverElement]="serverElement" [name]="serverElement.name">
      <p>
        <strong style="color: red" *ngIf="serverElement.type===1">{{serverElement.content}}</strong>
        <em *ngIf="serverElement.type===0">{{serverElement.content}}</em>
      </p>


    </app-server-element>
    </div>
  </div>
</div>
